<div class="jumbotron">
    <h1>Информация для абитуриентов</h1>

    <!--<p>Кафедра ведет подготовку студентов
        дневной и заочной формы обучения по направлению подготовки: 6.050102 – Компьютерная инженерия;
        специальность – Компьютерные системы и сети.
    </p>
    <p>Выпускнику университета по окончанию четырехлетнего обучения
        выдается диплом бакалавра компьютерной инженерии.
        Получив такой диплом, выпускник может работать в качестве программиста, прежде всего, системного,
        администратора компьютерных сетей, аналитика, инженера, специалиста по разработке сложных вычислительных
        систем, компьютерных комплексов и сетей.
    </p>-->



    <p class="lead">Кафедра кибернетики и вычислительной техники – крупнейшая в Севастопольском государственном
        университете.</p>

    <!--<p>-->
    <!--<a class="btn btn-lg btn-success" href="#" name="button">Sign up today</a>-->
    <!--</p>-->

    <p>
    <div class="row">

        <div class="col-lg-6">
            <form id="loginForm">
                <div class="input-group" id="input-group" >
                    <input id="loginStr" type="text"  placeholder="e-mail" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="loginSubmitBtn" type="button" >Log in!</button>  <!-- onclick="sendAjax()" -->
                            </span>
                </div>
            </form>
        </div>



        <!--<div class="col-lg-6">-->
        <!--<div class="input-group">-->
        <!--<span class="input-group-btn">-->
        <!--<a class="btn btn-default" href="/login" name="button">Log in</a>-->
        <!--&lt;!&ndash;<button class="btn btn-default"  href="/login" type="button">Log in</button>&ndash;&gt;-->
        <!--</span>-->
        <!--<input type="text" class="form-control" placeholder="e-mail">-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <!--</p>-->
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4 class="active">
            <a href="/addapplicant"></a>add applicant</h4>

        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>

        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
            fermentum.</p>

        <h4>Subheading</h4>

        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
        <h4>Subheading</h4>

        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>

        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
            fermentum.</p>

        <h4>Subheading</h4>

        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
</div>